<?xml version="1.0" encoding="UTF-8"?>

<project name="Gentelella" default="build">

              <!-- ============================================  -->
              <!-- Target: prepare                               -->
              <!-- ============================================  -->
              <target name="prepare">
                  <echo msg="Enviroment ready ..." />
              </target>


              <!-- ============================================  -->
              <!-- Target: build                                 -->
              <!-- ============================================  -->
              <target name="build" depends="prepare">
                <exec command="php bin/console doctrine:database:create"/> 
                <echo msg="Database has been created ..." />              
                <exec command="php bin/console doctrine:schema:create"/> 
                <echo msg="Schema has been created ..." />                              
                <exec command="php bin/console fos:user:create test test@example.com test"/> 
                <exec command="php bin/console fos:user:promote test ROLE_ADMIN"/>                 
                <echo msg="Test user has been created ..." />           

                <echo msg="Installing assets ... Wait for a moment" />
                <exec command="bower install" passthru="true" />
                <echo msg="Done ..." />
              </target>

</project>
