<?xml version="1.0" encoding="UTF-8"?>

<project name="Gentelella" default="setup">
              
              <!-- ============================================  -->
              <!-- Target: setup                                 -->
              <!-- ============================================  -->
              
              <target name="setup">

                <property environment="env" /> 

                <echo msg="Setting up a database schema" />
                             
                <exec command="php bin/console doctrine:database:create --if-not-exists"/>
                <exec command="php bin/console doctrine:schema:create"/> 
                
                <echo msg="Installing assets" />
                <exec command="bower install" passthru="true" />
                <echo msg="Done ..." />

              </target>
              
</project>
