{% extends "base.html.twig" %}


{% block body %}

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Plain Page</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Gentelella</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!--

                            Content

                        -->
                        <blockquote>
                            <p>Gentellela Admin is a free to use Bootstrap admin template. This template uses the
                                default
                                Bootstrap 3 styles along with a variety of powerful jQuery plugins and tools to create a
                                powerful framework for creating admin panels or back-end dashboards.

                                Theme uses several libraries for charts, calendar, from validation, wizard style
                                interface, off-canvas navigation menu, text forms, date range, upload area, form
                                autocomplete,
                                range slider, progress bars, notifications and much more.

                                We would love to see how you use this awesome admin template. You can notify us about
                                your site, app or service by tweeting to @colorlib. Once the list will grown long enough
                                we
                                will write a post similar to this to showcase the best examples.
                            </p>
                        </blockquote>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}