{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div>
	<div class="login_wrapper">
        <div class="animate form login_form">
        	
			<section class="login_content">
				<form>
				<h1>Registered! <i class="fa fa-check"></i></h1>
				<div>
				    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
				    {% if targetUrl %}
				    <p><a class="btn btn-default" href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
				    {% endif %}
				</div>
				
				<div class="clearfix"></div>
				
				<div class="separator"> 
					
					<div class="clearfix"></div>
					<br />
					
					<div>
						<h1><i class="fa fa-paw"></i> Gentelella</h1>
						<p>©2016 All Rights Reserved.
							<a href="">Privacy and Terms</a>
						</p> 
					</div>
				</div>
				</form>
			</section>
		
		</div>        
	</div>
</div>
{% endblock fos_user_content %}

