{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Gentelella - Symfony Web Application
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}